:root {
    --sedan-bg: #E28625;
    --suv-bg: #006971;
    --luxury-bg: #004140;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

* {
    margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
    color: white;
}

h1 {
    font-family: 'Big Shoulders Display', sans-serif;
    font-weight: 700;
    margin: 2rem 0;
    font-size: 2.5rem;
    text-transform: uppercase;
}

p {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 1.5625rem;
    opacity: .75;
}

button {
    font-family: 'Lexend Deca', sans-serif;
    margin-top: 1.5rem;
    width: 9.125rem;
    height: 3rem;
    border-radius: 1.5625rem;
    border: 0;
}

button.sedan {
    color: var(--sedan-bg);
}

button.suv {
    color: var(--suv-bg);
}

button.luxury {
    color: var(--luxury-bg);
}

button:hover {
    background-color: transparent;
    color: white;
    border: 2px solid white;
}

img {
    max-width: 100%;
}

main {
    display: grid;
    margin: 5.5rem 1.5rem;
    grid-template-rows: 1fr 1fr 1fr;
}

.card {
    padding: 3rem;
}

.card.sedan {
    background-color: var(--sedan-bg);
    border-radius: .5rem .5rem 0 0;
}

.card.suv {
    background-color: var(--suv-bg);
}

.card.luxury {
    background-color: var(--luxury-bg);
    border-radius: 0 0 .5rem .5rem;
}

article {
    margin-bottom: 2rem;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width: 1000px) {
    body {
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    main {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 920px;
    }

    .card.sedan {
        border-radius: .5rem 0 0 .5rem;
    }

    .card.luxury {
        border-radius: 0 .5rem .5rem 0;
    }

    button {
        margin-top: 5rem !important;
    }
}