:root {
    --sedan-bg: #E28625;
    --suv-bg: #006971;
    --luxury-bg: #004140;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

* {
    margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
    color: white;
}

h1 {
    font-family: 'Big Shoulders Display', sans-serif;
    font-weight: 700;
    margin: 2rem 0;
}

p {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 0.9375rem;
}

button {
    font-family: 'Lexend Deca', sans-serif;
    margin-top: 1.5rem;
    width: 9.125rem;
    height: 3rem;
    border-radius: 1.5625rem;
    border: 0;
}

button.sedan {
    color: var(--sedan-bg);
}

button.suv {
    color: var(--suv-bg);
}

button.luxury {
    color: var(--luxury-bg);
}

button:hover {
    background-color: transparent;
    color: white;
    border: 2px solid white;
}

img {
    max-width: 100%;
}

main {
    display: grid;
    margin: 5.5rem 1.5rem;
    grid-template-rows: 1fr 1fr 1fr;
}

.card {
    padding: 3rem;
}

.card.sedan {
    background-color: var(--sedan-bg);
}

.card.suv {
    background-color: var(--suv-bg);
}

.card.luxury {
    background-color: var(--luxury-bg);
}

article {
    margin-bottom: 2rem;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}